# The releng team is by default the owner of everything.
*             @eclipse-embed-cdt/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-embed-cdt/eclipsefdn-security @eclipse-embed-cdt/eclipsefdn-releng
